
name: Build

on:
  pull_request:
    branches: [develop]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, 'ci skip') && !contains(github.event.head_commit.message, 'skip ci')"

    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Use Node.js 20.x
        uses: actions/setup-node@v2
        with:
          node-version: "20"

      - name: Build
        id: build
        # Ensure npm 11.5.1 or later is installed
        run: |
          npm install -g npm@latest
          npm ci
          npm run build --if-present
